{% extends 'base.html' %}


{% block title %} {{ title }} {% endblock %}

{% block body %}

<div class="text-center container-lg">


    <header class="mb-auto ">
        <!-- Jumbotron -->
        <!-- Navbar -->
        <nav class="navbar navbar-custom navbar-expand-lg navbar-dark shadow-3-strong h1 ">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar brand -->
                <a class="navbar-brand navbarbrand-custom">Votre Accès à l'ontologie</a>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>

    <div class="content align-middle">
        <h2 class="text-center">Insérer votre requête SPARQL</h2>
        <!-- <input type="email" class="form-control" id="inputQuery" aria-describedby="emailHelp">
        <textarea class="span6" method ="post" type="input" action="#" id="input-query" name="input-query" rows="6" cols="50" placeholder="Votre requête ici"
            required></textarea>
        <button class="btn btn-primary" id="query-submit" value="query-submit"> Rechercher</button> -->

        <!-- <form action="{{ url_for('submit') }}" method="post">
            <textarea name="input-query" class="span6" rows="6" cols="50" placeholder="Votre requête ici"></textarea>
            <input type="submit" class="btn btn-light" id="submit-query">
        </form> -->
        <div class="d-flex justify-content-center" style="margin-right: 18%;">
            <form action="{{ url_for('submit') }}" method="post">
                <textarea name="input-query" class="form-control form-outline" id="textAreaExample" style="min-width: 200%; min-height: 150%;"></textarea>
                <!-- <label class="form-label" for="textAreaExample">Requête</label> -->
                <input type="submit" class="btn btn-light d-flex justify-content-center" style="margin-left: 70%; margin-top: 20px;" id="submit-query" >
            </form>
        </div>

    </div>

</div>

{% endblock %}